@charset="utf-8";

.box{
	padding: 20px;
	border: 1px solid #979797;
	background-color: #fff;
}
#contanter{
	background-color: #eee;
	overflow: auto;
}
#boxLeft{
	width: 158px;
	float: left;
}
#boxMid{
	width: auto;
	margin-left: 240px;
	margin-right: 160px;
	text-align: justify;
	text-indent: 2em;
}
#boxRight{
	width: 80px;
	float: right;
}
#teamLogo{
	width: 78px;
	border: 1px solid #979797;
}
#teamName{
	display: block;
	float: right;
	text-align: center;
}
.personalLogo{
	width: 78px;
	border: 1px solid #979797;
	margin-bottom: 15px;
}
#lastPersonalLogo{
	margin-bottom: 0px;
}
