@charset "utf-8";
/*CSS Document*/

#bigbox{
	background-color: #dedede;
	margin:0 auto;
}
#box1,#box7{
	width: 1280px;
	height: 60px;
	background-color: #333333;
	margin:0 auto; 
}
.box{
	width: 1238px;
	background-color: #fff;
	border: 1px solid #848484;
	margin:auto; 
	margin-top: 20px;
	padding: 40px 20px;
}
#box6{
	width: 1218px;
	background-color: #fff;
	border: 1px solid #848484;
	margin: auto;
	margin-top: 20px;
	padding: 20px;
}
#picBaiDu{                             /*header*/
	margin: 10px 40px;
}
#ul1{
	float: right;
	margin-right: 10px;
}
ul li{
	display: block;
	width: 100px;
	float: left;
	text-align: center;
}
ul li a{
	text-decoration: none;
	color: white;

}
#h2{
	color: #64605d;
}
.a_t{
	color: #64605d;
	font-size: 13px;
}
.passage{
	font-size: 15px;
	text-indent: 2em;
}
.li2{
	list-style: none;
}
.div4{                                    /*picture*/
	margin: 15px 60px;
	width: 120px;
	height: 124px;
	border: 1px solid #cecece;
	font-size: 15px;
	text-align: center;
}
.pic{
	display: block;
	width: 100px;
	margin: 10px auto;
}
table,tr,td{                              /*table*/
	border:1px solid #ccc; 
	border-collapse:collapse;
}
.ophead{
	width: 207px;
	height: 23px;
}
.head{
	background-color: #333;
	color: #fff;
	font-weight: bold;
}
.conterhead{
	width: 493px;
	height: 23px;
}
.bot{
	background-color: #ccc;
	font-weight: bold;
}
#sidebar{                                  /*sidebar*/
	border-left: 3px solid #ccc;
}
form{
	height: 480px;
}
form p{
	color: #949eb7;
}
form a{
	display: block;
	width: 350px;
	float: left;
	text-align: right;
}
form span input{
	color: #000;
}
.txtbar{
	display: block;
	
	margin-left: 387px;
}
#textarea{
	width: 600px;
	height: 100px;
}
#sub{
	margin-top: 10px;
	float: left;
	text-align: center;
	width: 1178px;
	height: 40px;
	background-color: #3355d0;
	color: white;
	font-weight: bold;
}
#corpyright{                               /*corpyright*/
	line-height: 60px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}